        <!-- Header Start -->
        <header>
            <a href="" id="#top"></a>
            <nav id="navigation" class="nav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="nav_left">
                                <div class="nav_hamburger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="nav_item__link nav_search-res">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="nav_logo">
                                    <a routerLink="/">
                                        <img [src]="getSettingImage('NavigationLogo')" alt="logo">
                                    </a>
                                </div> 
                                <ul class="nav_items nav_items-res">
                                    <li class="nav_item nav_item-res">
                                        <a routerLink="/products/man" class="nav_item__link">Kişi Saatı</a>
                                    </li>
                                    <li class="nav_item nav_item-res">
                                        <a routerLink="/products/woman" class="nav_item__link">Qadın Saatı</a>
                                    </li>
                                    <li class="nav_item nav_item-res">
                                        <a routerLink="/products/child" class="nav_item__link">Uşaq Saatı</a>
                                    </li>
                                    <li class="nav_item nav_item-res">
                                        <a routerLink="/brands" class="nav_item__link">Markalar</a>
                                    </li>
                                    <li class="nav_item nav_item-res">
                                        <a routerLink="/onSale" class="nav_item__link special">Endirimler</a>
                                    </li>
                                </ul>                       
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <ul class="nav_items flex-end">
                                <li class="nav_item nav-res_item nav_item__search">
                                    <div href="#" class="nav_item__link nav-res_item__link  nohover">
                                        <form action="" method="post" class="nav_search">
                                            <input id="searchInput" type="text" placeholder="Axtar..." name="search" autocomplete="off" (keyup)="onChangeEvent($event)">
                                            <button type="submit">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <ul class="search_items">
                                        <li *ngIf="searchProducts.length==0" class="noitem">
                                          <i class="fa-solid fa-triangle-exclamation"></i>
                                          Tapılmadı
                                        </li>
                                        <li *ngFor="let product of searchProducts" class="search_item">
                                          <a routerLink="productDetail/{{product.id}}">
                                            <div class="search_item__img">
                                                <img [src]="getProductImagePath(product.image)" alt="">
                                            </div>
                                            <div class="search_item-wrap">
                                              <p class="search_item__name">{{product.name}}</p>
                                              <p class="search_item__price product-card_price"><span *ngIf="product.discountPersent>0" class="old-price">{{product.salePrice}} AZN </span> {{product.salePrice*(1-(product.discountPersent/100))}} AZN</p>
                                            </div>
                                          </a>
                                        </li>
                                        
                                      </ul>
                                </li>
                                <li *ngIf="!checkAuth()" class="nav_item">
                                    <a routerLink='/account/login' class="nav_item__link">
                                        <i class="far fa-user"></i>
                                    </a>
                                </li>
                                <li *ngIf="checkAuth()" class="nav_item profile">
                                    <a routerLink="profile" class="nav_item__link">
                                        <i class="far fa-user"></i>
                                    </a>
                                    <ul class="profile_items">
                                        <li class="profile_item profile_name"><a> User name</a></li>
                                        <li class="profile_item"><a routerLink="/profile">Profile</a></li>
                                        <li class="profile_item"><a routerLink="/orders">Sifarişlər</a></li>
                                        <li class="profile_item"><a href="#">Seçilmişlər</a></li>
                                        <li (click)="logout()" class="profile_item"><a >Çıxış</a></li>
                                    </ul>
                                </li>
                                <li class="nav_item">
                                    <a routerLink="/cart" class="nav_item__link nav_basket">
                                        <i class="fas fa-archive"></i>
                                        <p class="nav_basket-count">0</p>
                                    </a>
                                </li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </nav>
            

        </header>
        <!-- Header End -->