<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#a87430" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<section *ngIf="dataLoaded" class="cart">
    <div class="container">
        <ul class="prDetail_breadcrumbs">
          <li class="prDetail_breadcrumb"><a routerlink="/">Ana səhifə</a></li>
          <li class="prDetail_breadcrumb"><a>Səbət</a></li>
        </ul>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h4 class="cart_head">Səbət</h4>
        </div>
        <div class="col-lg-9 col-md-12">
            <table class="cart_table">
                <thead class="cart_table__head">
                    <tr>
                        <th>#</th>
                        <th>ŞƏKİL</th>
                        <th>ADI</th>
                        <th>QİYMƏT</th>
                        <th>MİQDARI</th>
                        <th>CƏM</th>
                    </tr>
                </thead>
                <tbody class="cart_table__body">
                    <tr>
                        <th class="cart_table__cross"><i class="fa-solid fa-xmark"></i></th>
                        <th>
                            <div class="cart_table__img">
                                <img [src]="getProductImagePath(product.image)" alt="product">
                            </div>
                        </th>
                        <th><a  class="cart_table__name" routerLink="productDetail/{{product.id}}">VMF-ŞƏHƏR-NAXIŞ-V3124/2PS0/0S2/42 (1)</a></th>
                        <th class="cart_table__price">
                            124 AZN
                            <p class="old-price">165 AZN</p>
                        </th>
                        <th>
                            <div class="prDetail_sale">
                                <div class="prDetail_sale__count">
                                    <i class="fa-solid fa-minus" id="count-inc"></i>
                                    <input id="prDetailCount"  type="number" value="1" min="1" max="10">
                                    <i class="fa-solid fa-plus" id="count-dec"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <p class="cart_table__total">528.00 AZN</p>
                        </th>
                    </tr>
                    <tr>
                      <th class="cart_table__cross"><i class="fa-solid fa-xmark"></i></th>
                      <th>
                          <div class="cart_table__img">
                              <img src="../media/home/tissot3.png" alt="product">
                          </div>
                      </th>
                      <th><a  class="cart_table__name" routerLink="productDetail/{{product.id}}">VMF-ŞƏHƏR-NAXIŞ-V3124/2PS0/0S2/42 (1)</a></th>
                      <th class="cart_table__price">
                          124 AZN
                          <p class="old-price">165 AZN</p>
                      </th>
                      <th>
                          <div class="prDetail_sale">
                              <div class="prDetail_sale__count">
                                <i class="fa-solid fa-minus" id="count-inc"></i>
                                <input id="prDetailCount"  type="number" value="1" min="1" max="10">
                                <i class="fa-solid fa-plus" id="count-dec"></i>
                              </div>
                          </div>
                      </th>
                      <th>
                          <p class="cart_table__total">528.00 AZN</p>
                      </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="cart_total-price">
              <p class="current_price"><span>Cəmi Məbləğ:</span><span>152.00 AZN</span></p>
              <p class="current_price"><span>Yekun Məbləğ:</span><span>152.00 AZN</span></p>
            </div>
            <a class="cart_continue" href="#">DAVAM ET</a>
        </div>
      </div>
    </div>
</section>