
 <footer>
    <section id="services">
       <div class="services">
           <div class="col-lg-4 col-xs-12">
               <div class="service">
                   <img [src]="getSettingImage('ServicesSecureCard')" alt="">
                   <p class="service_text">Təhlükəsiz Ödəniş</p>
               </div>
           </div>
           <div class="col-lg-4 col-xs-12">
                <div class="service">
                    <img [src]="getSettingImage('ServiceFastDelivery')" alt="">
                    <p class="service_text">Sürətli Çatdırılma</p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="service">
                    <img [src]="getSettingImage('ServiceProductWarrany')" alt="">
                    <p class="service_text">MƏHSULLARA ZƏMANƏT</p>
                </div>
            </div>
       </div>
    </section>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-s-12">
                    <div class="footer_column">
                        <h3 class="footer_column__head">VMF</h3>
                        <ul class="footer_column__items">
                            <li class="footer_column__item"><a href="">Haqqımızda</a></li>
                            <li class="footer_column__item"><a routerLink="/shops">Mağazalarımız</a></li>
                            <li class="footer_column__item"><a href="">Markalarımız</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-s-12">
                    <div class="footer_column">
                        <h3 class="footer_column__head">KATEQORİYALAR</h3>
                        <ul class="footer_column__items">
                            <li class="footer_column__item"><a href="">Saatlar</a></li>
                            <li class="footer_column__item"><a href="">Endirimlər</a></li>
                            <li class="footer_column__item"><a href="">Markalarımız</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12">
                    <div class="footer_column">
                        <h3 class="footer_column__head">MÜŞTƏRİLƏRİMİZƏ QAYĞI</h3>
                        <ul class="footer_column__items">
                            <li class="footer_column__item"><a href="">Necə onlayn alış edə bilərəm?</a></li>
                            <li class="footer_column__item"><a href="tel:+99450 257 80 39">Onlayn sifariş : +99450 257 80 39</a></li>
                            <li class="footer_column__item"><a href="">Bizi niyə seçməli?</a></li>
                            <li class="footer_column__item"><a href="">Çatdırılma və ödəmə şərtləri</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-s-12">
                    <div class="footer_subcribe">
                        <p>Abunə olun, kampaniya və sürprizləri qaçırmayın!</p>
                        <form action="" class="footer_subcribe__form">
                            <input type="text" placeholder="E-poçt ünvanınız">
                            <button type="submit">
                                Abunə ol
                            </button>
                        </form>
                        <div *ngIf="dataLoaded" class="social">
                            <a [href]="getValueOfKey('FacebookLink')">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a [href]="getValueOfKey('InstagramLink')">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="footer_payment">
        <div class="footer_payment__img">
            <img [src]="getSettingImage('PaymentMethods')" alt="PaymentMethods">
        </div>
    </div> 
</footer>
<a href="#top" id="scrool-up" >
    <i class="fas fa-arrow-up"></i>
</a>