<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#a87430 !important" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section id="loginForm" class="form">
    <div class="container">
      <div class="form_main">
        <h3 class="form_head">Şifrəni yenilə</h3>
        <form 
          [formGroup]="forgotPasswordVerifyForm"
          method="post"
          class="form_form"
          (ngSubmit)="forgotPasswordVerifyForm.valid && forgotPasswordVerify()"
        >
        <app-text-input 
          [formControl]='forgotPasswordVerifyForm.controls["code"]' 
          [label]='"6 rəqəmli kod"' 
          [class]='"form_email"' 
          [type]='"number"'>
        </app-text-input>

        <app-text-input 
          [formControl]='forgotPasswordVerifyForm.controls["password"]' 
          [label]='"Şifrə"' 
          [class]='"form_password"' 
          [autoComplete]='"new-password"'
          [type]='"password"'>
        </app-text-input>

        <app-text-input 
          [formControl]='forgotPasswordVerifyForm.controls["confirmPassword"]' 
          [label]='"Şifrə(təkrar)"' 
          [class]='"form_password"' 
          [autoComplete]='"new-password"'
          [type]='"password"'>
        </app-text-input>

          <ul *ngIf="validationErrors.length != 0" class="form_error-list">
            <li *ngFor="let error of validationErrors" class="form_error_item">*{{error.ErrorMessage}}</li>
          </ul>

          <button [disabled]="!forgotPasswordVerifyForm.valid" type="submit" class="form_submitBtn">Dəyişdir</button>
          <p class="form_registerLink">
            <a routerLink="/account/login">Şifrəmi xatırladım</a>
          </p>
        </form>
      </div>
    </div>
  </section>