// @import '../../../../node_modules/ngx-red-zoom/styles/_base.scss';
// @import '../../../../node_modules/ngx-red-zoom/styles/_style-window.scss';


.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
  }
  

