<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#a87430 !important" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section *ngIf="dataLoaded" id="loginForm" class="form">
    <div class="container">
      <div class="form_main">
        <h3 class="form_head">Giriş</h3>
        <form [formGroup]="loginForm"
              method="post"
              class="form_form"
              (ngSubmit)="loginForm.valid && login()"
        >
        <app-text-input 
            [formControl]='loginForm.controls["email"]' 
            [label]='"Email"' 
            [class]='"form_email"' 
            [autoComplete]='"email"'
            [type]='"email"'>
        </app-text-input>

        <app-text-input 
          [formControl]='loginForm.controls["password"]' 
          [label]='"Password"' 
          [class]='"form_password"' 
          [autoComplete]='"password"'
          [type]='"password"'>
        </app-text-input>
     
          <label style="display: flex" class="checkbox bounce">
            <input type="checkbox" />
            <svg viewBox="0 0 21 21">
              <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
            <span>Yadda saxla</span>
            <a routerLink="/account/forgotPassword" class="forgotPassword">Şifrəmi unutmuşam</a>
          </label>

          <ul *ngIf="validationErrors.length != 0" class="form_error-list">
            <li *ngFor="let error of validationErrors" class="form_error_item">*{{error.ErrorMessage}}</li>
          </ul>

          <button [disabled]="!loginForm.valid" type="submit" class="form_submitBtn">Giriş</button>
          <p class="form_registerLink">
            və ya <a routerLink="/account/register">Qeydiyyatdan keç</a>
          </p>
        </form>
      </div>
    </div>
  </section>