<section id="page-head" class="page-head">
  <div class="page-head_text">
    <h3 class="page-head_header">Məhsullar</h3>
    <ul class="breadcrumb">
      <li class="breadcrumb-item " routerlink="/"><a >Home</a></li>
      <li class="breadcrumb-item"><a routerlink="/">Saatlar</a></li>
    </ul>
  </div>
  <div class="page-head_img">
    <img src="{{headBannerImagePath}}" alt="banner" />
  </div>
</section>

<section class="shop">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-8 responsive-filter">
        <div class="filter">
          <div class="filter-tab">
            <p class="filter-tab_header">Markalar</p>
            <ul class="filter-tab_items">
              <li *ngFor="let brand of brands" class="filter-tab_item">
                <a class="filter-tab_checkbox" (click)="addBrandToQueryParams(brand.id)" > {{brand.name}} </a>
              </li>
            </ul>
          </div>

          <div class="filter-tab lowerCase">
            <p class="filter-tab_header">Saatın Funksionalı</p>
            <ul class="filter-tab_items">
              <li *ngFor="let func of productFunctionalities" class="filter-tab_item">
                <a class="filter-tab_checkbox" (click)="addFunctionalityToQueryParams(func.id)">
                  {{func.name}}
                </a>
              </li>
            </ul>
          </div>
          <div class="filter-tab lowerCase">
            <p class="filter-tab_header">Cins</p>
            <ul class="filter-tab_items">
              <li class="filter-tab_item">
                <a class="filter-tab_checkbox isChecked" href="#"> Kişi </a>
              </li>
              <li class="filter-tab_item">
                <a class="filter-tab_checkbox" href="#"> Qadın </a>
              </li>
              <li class="filter-tab_item">
                <a class="filter-tab_checkbox" href="#"> Uşaq </a>
              </li>
              <li class="filter-tab_item">
                <a class="filter-tab_checkbox" href="#"> Unisex </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="filter-result">
          <div class="filter-result_head">
            <p class="filter-result_res-count"><i class="fa-solid fa-filter"></i> Filter(130)</p>
            <p class="filter-result_count">130 Məhsul</p>
            <label for="sort-result" class="filter-result_sort">Sırala: 
              <select name="" id="sort-result" class="filter-result_sort__select">
                <option value=""> Seçin </option>
                <option value=""> Qiymet Azalan </option>
                <option value=""> Qiymet Artan </option>
                <option value=""> Tarixə Görə </option>
              </select>
            </label>
          </div>
        </div>
          <div class="filter-products">
            <div class="row">
              <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-xs-12">
                <div class="product-card">
                    <a routerLink="/productDetail/{{product.id}}" class="product-card_link">
                      <span *ngIf="product.discountPersent>0" class="discount_ribbon">-{{product.discountPersent}}% <i></i></span>
                      <div class="product-card_image">
                        <img [src]="getProductImagePath(product.image)" alt="">
                      </div>
                      <div class="product-card_name">{{product.name}}</div>
                      <p class="product-card_price">
                        <span *ngIf="product.discountPersent>0; then discountedPrice else normalPrice"></span>
                        <ng-template #discountedPrice>
                          <span class="old-price">{{product.salePrice}} AZN </span>{{product.salePrice*(1-product.discountPersent/100)}} AZN
                        </ng-template>
                        <ng-template #normalPrice>
                          {{product.salePrice}} AZN
                        </ng-template>
                      </p>
                    </a>
                </div>
              </div>
 
            </div>
          </div>
          <div class="filter-pagination">
              <span class="filter-pagination_arrow disabled"><a href="#" class="filter-pagination_link"><i  class="fa-solid fa-arrow-left"></i></a></span>
              <ul class="filter-pagination_items">
                  <li class="filter-pagination_item"><a class="filter-pagination_link active" href="#">1</a></li>
                  <li class="filter-pagination_item"><a class="filter-pagination_link" href="#">2</a></li>
                  <li class="filter-pagination_item"><a class="filter-pagination_link" href="#">3</a></li>
                  <li class="filter-pagination_item"><a class="filter-pagination_link" href="#">4</a></li>
                  <li class="filter-pagination_item"><a class="filter-pagination_link" href="#">5</a></li>
              </ul>
              <span class="filter-pagination_arrow"><a href="#" class="filter-pagination_link"><i  class="fa-solid fa-arrow-right"></i></a></span>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="res-overlay"></div>



