<section id="loginForm" class="form">
    <div class="container">
      <div class="form_main">
        <h3 class="form_head">Qeydiyyatdan keç</h3>
        <form [formGroup]="registerForm" action="" method="post" class="form_form">

          <label class="form_label" for="formName">Ad</label>
          <input formControlName="firstName" id="formName" type="text" autocomplete="name" />

          <label class="form_label" for="formSurname" >Soyad</label>
          <input formControlName="lastName" id="formSurname" type="text" autocomplete="family-name" />

          <label class="form_label" for="email">Email</label>
          <input formControlName="email" id="email" type="email" autocomplete="email" />

          <label class="form_label" for="formPhone">Telefon</label>
          <input formControlName="phoneNumber" id="formPhone" type="text" autocomplete="tel" />

          <label class="form_label" for="formCountry">Ölkə</label>
            <select formControlName="countryId" name="Country" id="formCountry" autocomplete="country-name">
                <option disabled selected aria-readonly="true">Ölkə seçin</option>
            </select>

          <label class="form_label" for="formCity">Şəhər</label>
            <select formControlName="cityId" name="City" id="formCity" autocomplete="address-level2">
                <option disabled selected aria-readonly="true">Şəhər seçin</option>
            </select>

          <label class="form_label" for="formAdress">Ünvan</label>
          <input formControlName="address" id="formAdress" type="text" autocomplete="street-address" />

          <label class="form_label" for="password">Şifrə</label>
          <input formControlName="password" id="password" type="password" autocomplete="new-password"/>

          <label class="form_label" for="passwordConf">Şifrə(Təkrar)</label>
          <input formControlName="password" id="passwordConf" type="password" autocomplete="new-password" />

          <button (click)="register()" class="form_submitBtn">Qeydiyyat</button>

          <p class="form_registerLink">
            və ya <a routerLink="/account/login">Daxil ol</a>
          </p>

        </form>
      </div>
    </div>
  </section>