<section id="page-head" class="page-head">
    <div class="page-head_text">
      <h3 class="page-head_header">Məhsullar</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a routerlink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerlink="/">Saatlar</a></li>
      </ul>
    </div>
    <div class="page-head_img">
      <img src="{{headBannerImagePath}}" alt="banner" />
    </div>
</section>

<section id="shops" class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-s-12">
                <ul class="shop_items">
                  <li *ngFor="let shop of shops" class="shop_item ">
                    <a href="" >
                      <h4 class="shop_item__head">{{shop.name}}</h4>
                      <a href="mailto:{{shop.email}}" class="shop_item__email">Email: {{shop.email}}</a>
                      <p class="shop_item__tel">Tel: <a href="tel:{{shop.phoneNumber1}}">{{shop.phoneNumber1}}</a> / <a href="tel:{{shop.phoneNumber2}}">{{shop.phoneNumber2}} </a> </p>
                      <p class="shop_item__addrs">{{shop.address}} iş rejimi-{{shop.openHour}}:{{shop.openMinute==0?'00':shop.openMinute}}-{{shop.closeHour}}:{{shop.closeMinute==0?'00':shop.closeMinute}}</p>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-lg-8 col-s-12">
                <div class="map_wrapper">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.428490145627!2d49.851756814795486!3d40.37719496596802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2s!4v1650254548660!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>