<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#a87430 !important" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section id="loginForm" class="form">
    <div class="container">
      <div class="form_main">
        <h3 class="form_head">Şifrəni yenilə</h3>
        <form [formGroup]="forgotPasswordEmailForm"
              method="post"
              class="form_form"
              (ngSubmit)="forgotPasswordEmailForm.valid && forgotPassword()"
        >
        <app-text-input 
            [formControl]='forgotPasswordEmailForm.controls["email"]' 
            [label]='"Email"' 
            [class]='"form_email"' 
            [autoComplete]='"email"'
            [type]='"email"'>
        </app-text-input>

          <ul *ngIf="validationErrors.length != 0" class="form_error-list">
            <li *ngFor="let error of validationErrors" class="form_error_item">*{{error.ErrorMessage}}</li>
          </ul>

          <button [disabled]="!forgotPasswordEmailForm.valid" type="submit" class="form_submitBtn">Parolu bərpa etmək</button>
          <p class="form_registerLink">
            <a routerLink="/account/login">Şifrəmi xatırladım</a>
          </p>
        </form>
      </div>
    </div>
  </section>